
<p>Tasks should be as small and 'actionable' as possible...if it takes longer than 60 minutes you shold probably split it up! </p>
<%= form_for @task do |f| %> <br>
  <%= f.label "Name: " %>
  <%= f.text_field :name %>

<% if params[:project_id] %>
 <%= hidden_field_tag 'task[project_id]', params[:project_id] %>
 <% else %>
  <%= f.label "Project: " %>   
  <% inbox = Project.find_by(inbox: true) #User: current %>
  <%= f.collection_select :project_id, Project.all, :id, :name, {:selected => inbox.id } %>
 <% end %>

 <%= f.label "Estimated task time (mins): " %>   
  <%= f.collection_select :time, [5,10,30,60], :to_i, :to_i %> <b>...or less</b>

  <br>
  <%= f.label "Tags: " %>   
  <p><%= collection_check_boxes(:tag, :id, Tag.all, :id, :name, { checked: @task.tags.map(&:to_param) }) %>
  </p>
  <% # key for params; nested? key for params; collection; method to call on collection; what to display next to boxes %>
   
   <h4><%= f.label "Completed this task?: " %> <%= f.check_box :complete %> <br> </h4>
   
   <br>
   <% #I want to add cutom display "complete"/"in progress" next to this box %>
  
  <%= f.submit id: 'submit' %>
<% end %>


