

<%= form_for @task do |f| %>
  <%= f.label "Name: " %>
  <%= f.text_field :name %>

  <%= f.label "Project: " %>   
  <%= f.collection_select :project_id, Project.all, :id, :name %>
  <br>
  <%= f.label "Tags: " %>   
  <%= collection_check_boxes(:tag, :id, Tag.all, :id, :name, { checked: @task.tags.map(&:to_param) }) %>
  <% # key for params; nested? key for params; collection; method to call on collection; what to display next to boxes %>
   
   <h4><%= f.label "Completed this task?: " %> </h4>
   <%= f.check_box :complete %> <br>
   <br>
   <% #I want to add cutom display "complete"/"in progress" next to this box %>
  
  <%= f.submit id: 'submit' %>
<% end %>


