<h1>Task: "<%=@task.name.capitalize%>" <br>
(Project: <%=link_to(@task.project.name.capitalize, project_path(@task.project))%>)</h1>

<% if @task.tags == [] %>
    <h3>This Task has no Tags!</h3>
    <h4>Status: <%= @task.complete ? "Complete" : "In progress" %></h4>
    <%= link_to 'Edit this task', edit_task_path(@task) %>
    <%= form_tag @task, method: "delete", class: 'delete_btn' do %>
        <%= submit_tag "Delete Task" %>
        <% end %>
<% else %>
  <h3>Tags for this tag:</h3>

  <ul>
  <% @task.tags.each do |tag| %>
  <li><%= link_to( tag.name, tag_path(tag)) %></li>
  <% end %>
  </ul>

  <h5>Status: <%= @task.complete ? "Complete" : "In progress" %></h5>
  <h5>Estimated time for Task: </h5>
  <p><%= @task.time %>-ish minutes (or less)</p> 
  <br>
  <button><%= link_to 'Edit this task', edit_task_path(@task) %></button>
  <br>
   <p>
     <%= form_tag @task, method: "delete", class: 'delete_btn' do %>
     <%= submit_tag "Delete Task" %>
     <% end %>
   </p>

<% end %>