<h1>All Projects!</h1>
<%= link_to "Sort by User", user_sort_path%>|
<%= link_to "Sort by User2",  projects_path(sort: "by_user")%>|
<%= link_to "Sort by Project Name", projects_path%>|
<%= link_to "Sort by Outanding Tasks", projects_path(sort: "by_outstanding")%>|


<div class="container-fluid"> 
<%# bootS: container centers the content too much %> 
<div class="p-3 mb-2 bg-light text-dark">
<%# bootS this is a background colour %>

  <!-- Content here -->
    <ol>
    <br>  
    <% @projects.each do |project|  %>
    <% if project.inbox != true %>
      <li>
    <% end %>
        <h3><%= link_to(project.name.capitalize, project_path(project)) %>:
        <% if project.inbox == false %>
        <%= project.complete ? "Complete" : "In Progress" %>
        <% end %></h3>
        <ul>
        <li> Archived?: <%= project.archive %></li>
        <li>Outstanding / Total Tasks: <%= project.incomplete_tasks_count %>/ <%= project.task_count  %></li>
        <li>User:  <%= project.user.name %>  </li>
        </ul>
      <% if project.inbox != true %>
    </li>
    <% end %>
      

    <% end %>
    </ol>
</div>
</div>