<h1>All the Tasks you can do "<%= @tag.name %>"</h1>
<button><%= link_to "Edit this tags name", edit_tag_path(@tag) %>  </button>

  <%= form_tag @tag, method: "delete", class: 'delete_btn' do %>
      <%= submit_tag "Delete Tag" %>
      <% end %>


<%= link_to "Sort by Project", projects_path%>|
<%= link_to "Sort by Name", projects_path(sort: "by_outstanding")%>
<br><br>

<ul>
<% @tag.tasks.order(:name).each do |task| %>
<li>Task: <%= link_to(task.name, task_path(task)) %> <br>
(Project: <%= link_to(task.project.name.capitalize, project_path(task.project)) %>) </li>
<% end %>
</ul>