<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% #https://getbootstrap.com/docs/4.3/getting-started/introduction/ %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
  </head>

<% #https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css %>

  <body>
  <%= link_to("All Projects |", projects_path) %>   
  <%= link_to("All Tags |", tags_path) %>   
  <%= link_to("New Task |", new_task_path) %>   
  <%= link_to("New Project |", new_project_path) %>   
 <br>
 <% if flash[:errors] %>
    <% if flash[:errors].class == Array %>
          <ul>
      
          <% flash[:errors].each do |error| %>
              <li><h3><%= error %></h3></li>
          <% end %>
          </ul>
          <br>
          
    <% else %>
       <h3><%= flash[:errors] %></h3>
       <br>
    <% end %>
<% end %>

    <%= yield %>

  </body>
</html>
